# Python environment
venv/
env/
__pycache__/
*.pyc

# Local Model weights (Keep repo lightweight)
saved_bert_model/
my_saved_bert_model/
*.safetensors
*.bin
*.h5

# Checkpoints & Data
checkpoint-*/
.ipynb_checkpoints/
